<%= form_for([@creative, @chapter], url: @url) do |f| %>
  <% if @chapter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chapter.errors.count, "error") %> prohibited this chapter from being saved:</h2>

      <ul>
      <% @chapter.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.text_area :body, :id => 'chapter_content' %>
  </div>
  <button id='insert-image' class='tiny alert button' type='button' data-reveal-id="mymodal" data-reveal>Add image from gallery</button>
  <div class="actions">
    <%= f.submit "Submit", :class => "button radius" %>
  </div>
<% end %>

<%= render 'modal' %>